@import "font.css";
@import "reset.css";

body {
  background-color: black;
}
#header {
  background: rgba(22, 22, 23, 0.8);
  width: 100%;
  height: 44px;
}

#product-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  min-width: 1024px;
  z-index: 9997;
  .wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: 1;
    .bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
      &:after {
        margin-left: -490px;
        left: 50%;
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        width: 980px;
        height: 1px;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.24);
      }
    }
    .inner {
      height: 52px;
      margin: 0 auto;
      max-width: 980px;
      padding: 0 22px;
      position: relative;
      z-index: 2;
      h2 {
        height: 100%;
        display: inline-flex;
        align-items: center;
        font-size: 21px;
        color: #fff;
      }
    }
  }
  &.sticky-now {
    .wrap {
      .bg {
        background-color: rgba(29, 29, 31, 0.72);
        transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
        transition-property: background-color, -webkit-backdrop-filter;
        transition-property: background-color, backdrop-filter;
        transition-property: background-color, backdrop-filter,
          -webkit-backdrop-filter;
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        &:after {
          margin-left: 0;
          left: 0;
          width: 100%;
        }
      }
    }
  }
}

.main {
  padding: 80px 0;
}
.section-colors {
  .section-content {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    .color-slide {
      --cg-nav-offset: 480px;
      display: grid;
      grid-column-gap: 50px;
      column-gap: 50px;
      grid-template-columns: 685px 1fr;
      grid-template-rows: var(--cg-nav-offset) repeat(2, auto);
      grid-template-areas:
        "image nav"
        "image space"
        "description description";
      will-change: transform;
      .list-image {
        display: grid;
        grid-area: image;
        justify-self: end;
        align-self: end;
        z-index: -1;
        .gallery-item {
          grid-area: 1/1;
          z-index: 1;
          picture {
            --p-width: 406px;
            --p-height: 1022px;
            display: block;
            width: var(--p-width);
            height: var(--p-height);
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-position: center;
            mask-position: center;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-image: url("../images/gallery_mask_large_2x.png");
            mask-image: url("../images/gallery_mask_large_2x.png");
          }
          &.current {
            z-index: 2;
          }
        }
      }
      .list-color {
        display: grid;
        grid-area: nav;
        align-self: end;
        margin-top: 0;
        .nav-item {
          list-style-type: none;
          margin-top: 20px;
          a {
            font-size: 21px;
            color: #424245;
            font-weight: 700;
          }
          &.current {
            a {
              color: #cecece;
              pointer-events: none;
              cursor: default;
            }
          }
        }
      }
    }
  }
}

.section-dynamic-island {
  margin-top: 180px;
  .dynamic-island-container {
    .device-container {
      display: flex;
      justify-content: center;
      .device-group {
        display: grid;
        width: 974px;
        height: 876px;
        transform: none;
        align-self: end;
        align-items: end;
        justify-items: center;
        margin-left: auto;
        margin-right: auto;
        .device-chrome-container {
          grid-row: 1;
          grid-column: 1;
          display: block;
          z-index: 3;
          .dynamic-device {
            display: block;
            width: 974px;
            height: 876px;
          }
        }
        .device-video {
          z-index: 2;
          grid-row: 1;
          grid-column: 1;
          display: block;
          .video-container {
            display: flex;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            width: 864px;
            height: 832px;
            .device-start-frame {
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-size: cover;
              pointer-events: none;
            }
            video {
              width: 864px;
              height: 832px;
              overflow: hidden;
              border-radius: 78px 78px 0 0;
            }
          }
        }
      }
    }
  }
  .deep-dive-button-container {
    margin-top: 90px;
    display: flex;
    justify-content: flex-end;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    .deep-dive-button {
      .copy {
        display: inline-block;
        font-size: 24px;
        line-height: 31px;
        color: #cecece;
        text-align: right;
      }
      &:after {
        content: "";
        display: inline-block;
        margin-left: 20px;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background: linear-gradient(180deg, #ffb6ff, #b344ff);
        vertical-align: bottom;
      }
    }
  }
}
